{% extends "base.html" %}
{% load static %}
{% block start %}

<div id="preloader"></div>
       
        <!-- Start Slider Area -->
        <div class="intro-area intro-area-3">
            <div class="bg-wrapper">
            	<img src="/static/img/background/bg2.webp" alt="">
            </div>
			<div class="intro-content">
				<div class="slider-content">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="slide-all-text">
								    <!-- layer 1 -->
                                    <div class="layer-1 wow fadeInUp" data-wow-delay="0.3s">
                                        <h2 class="title2">
                                            Axcelerate Your Transformation To <span class="color-2">Artificial Intelligence</span> </h2>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-2 wow fadeInUp" data-wow-delay="0.5s">
                                        <p>Leverage state-of-the-art, data-driven AI technologies to deliver more value to your customers faster and better.</p>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-3 wow fadeInUp" data-wow-delay="0.7s">
                                        <a href="/contact.html#contact" class="ready-btn" >Get In Touch</a>
                                    </div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 hidden-xs">
								<div class="slide-images-inner wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="slide-images">
                                        <img src="/static/img/slider/s1.png" alt="">
                                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- End Slider Area -->
        <!-- Welcome service area start -->
        <div class="welcome-area welcome-area-2 bg-color area-padding-2">
            <h3 style="font-size: 34px; text-align: center; padding-bottom: 32px;">
                Your AI Transformation In Five Steps
            </h3>
            <div class="container">
                <div class="row">
                    <div class="all-well-services">
                        <!-- single-well end-->
                        <div class="col-md-c-2 col-sm-6 col-xs-12">
                            <div class="well-services">
                                <div class="well-img">
                                    <span class="big-icon" ><i class="flaticon-006-chip"></i></span>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>Define</h4>
                                        <p>Identify and define the best AI strategy for your business.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-c-2 col-sm-6 col-xs-12">
                            <div class="well-services ">
                                <div class="well-img">
                                    <span class="big-icon" ><i class="flaticon-015-artificial-intelligence"></i></span>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>Build</h4>
                                        <p>Build an AI system tailored specifically to your business needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-c-2 col-sm-6 col-xs-12">
                            <div class="well-services">
                                <div class="well-img">
                                    <span class="big-icon" ><i class="flaticon-041-computing-cloud"></i></span>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>Deploy</h4>
                                        <p>Deploy the AI system on cloud or on-premise servers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-c-2 col-sm-6 col-xs-12">
                            <div class="well-services">
                                <div class="services-img">
                                    <span class="big-icon" ><i class="flaticon-036-chip"></i></span>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>Integrate</h4>
                                        <p>Integrate the system with your existing products and services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-c-2 col-sm-6 col-xs-12">
                            <div class="well-services">
                                <div class="services-img">
                                    <span class="big-icon" ><i class="flaticon-091-ai"></i></span>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>Monitor</h4>
                                        <p>Continuously monitor to make sure the system runs perfectly.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome service area End -->
        <!-- Start Brand Area -->
        <div class="about-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-content">
                            <iframe width="100%" height="270" frameBorder = "0"
                            src="https://www.youtube.com/embed/UR570BqIecg?autoplay=1&mute=1">
                            </iframe>
                        </div>
                    </div>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-text">
                            <h3>About Us <span class="color-2"></span></h3>
                            <p>
                                The past decade has seen several breakthroughs in artificial intelligence, 
                                primarily in the form of deep learning. At <span>AxcelerateAI</span>  our mission is 
                                to empower businesses with the latest state-of-the-art AI technologies. <br> <br>
                                We want businesses to fundamentally change how they operate and deliver 
                                value to their customers by accelerating their AI transformations. 
                                We strongly believe that in the near future businesses that adopt 
                                AI will replace most businesses that do not.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- End Banner Area -->
        <!-- Service area start -->
        <div class="service-area bg-color area-padding" id="services">
            <div class="container">
               <div class="row">
					<div class="all-service">
					    <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service text-service" style="padding-top: 130px;">
                                <h3 >Our Services <span class="color-2"></span></h3>
                                <p >
                                    We provide services in a wide variety of different domains. 
                                    Our custom end-to-end solutions
                                    are tailored for your specific business needs.
                                </p>
                            </div>
                        </div>
                        <!-- single-service end-->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service">
                                <div class="service-img">
                                    <img src="/static/img/service/w1.png" alt="">
                                </div>
                                <div class="service-content">
                                    <h4>Computer Vision</h4>
                                    <p style="padding-bottom: 4px;">
                                        Use computer vision systems for optimizing surveillance activities (such as via drones), 
                                        reconstructing 3d images or generating cool AI art.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- single-service end-->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service text-service">
                                <div class="service-img">
                                    <img src="/static/img/service/w2.png" alt="">
                                </div>
                                <div class="service-content">
                                    <h4>Natural Language Processing</a></h4>
                                    <p>
                                        Leverage natural language processing systems to automatically 
                                        extract relevant information from text or speech.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- single-service end-->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service">
                                <div class="service-img">
                                    <img src="/static/img/service/w3.png" alt="">
                                </div>
                                <div class="service-content">
                                    <h4>Conversational AIs</h4>
                                   <p style="padding-bottom: 26px;">
                                    Improve your average customer response time and reduce your operating costs by deploying 
                                    conversational AIs directly on your web or mobile applications.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service text-service">
                                <div class="service-img">
                                    <img src="/static/img/service/w4.png" alt="">
                                </div>
                                <div class="service-content">
                                    <h4>Recommender Engines</h4>
                                    <p style="padding-bottom: 26px;">
                                        Deploy AI-based recommender engines on your web and mobile applications to give 
                                        your users a more superior, engaging and fulfilling experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                       <!-- single-service end-->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-service">
                                <div class="service-img">
                                    <img src="/static/img/service/w5.png" alt="">
                                </div>
                                <div class="service-content">
                                    <h4>Digitization</h4>
                                    <p >
                                        Accelerate your digitization efforts using AI technologies such as optical character recognition 
                                        which can automatically convert your printed and handwritten text into editable documents.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- single-service end-->
					</div>
                </div>
            </div>
        </div>
        <!-- Service area End -->
        <!-- Start Challange Area -->
        <div class="tab-area fix area-padding" id="products">
            <div class="container">
                <div class="row">
					<!-- End single page -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-menu">
							 <!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="active">
								    <a href="#p-view-2" role="tab" data-toggle="tab">
							            <span class="cha-icon"><i class="flaticon-127-vision"></i> </span>
								        <span class="cha-title">CV Suite</span>
								    </a>
								</li>
								<li>
							        <a href="#p-view-3" role="tab" data-toggle="tab">
							            <span class="cha-icon"><i class="flaticon-019-chat"></i></span>
								        <span class="cha-title">NLP Suite</span>
								    </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="tab-content">
							
							<div class="tab-pane active" id="p-view-2">
								<div class="tab-inner">
									<div class="single-machine row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="tabe-img">
                                                <img src="/static/img/service/cv4.webp"  alt="">
                                            </div>
										</div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="machine-text">
                                                <h3>Computer Vision Suite</h3>
                                                <p>
                                                    Our in-house developed computer vision suite has the following features:
                                                </p>
                                                <ul>
                                                    <li>Image super-resolution by up to 4x</li>
                                                    <li>Image deblurring and denoising</li>
                                                    <li>Background removal</li>
                                                    <li>Image-to-image translation</li>
                                                    <li>Optical character recognition</li>
                                                    <li>Image forgery detection</li>
                                                    <li>Object tracking</li>
                                                    <li>Object detection</li>
                                                </ul>
                                            </div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="p-view-3">
								<div class="tab-inner">
									<div class="single-machine row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="tabe-img">
                                                <img src="/static/img/service/nlp3.webp" alt="">
                                            </div>
										</div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="machine-text">
                                                <h3>Natural Language Processing Suite</h3>
                                                <p>
                                                    Our in-house developed natural language processing suite can do the following:
                                                </p>
                                                <ul>
                                                    <li>Extract structured data from unstructured raw texts</li>
                                                    <li>Sentiment analysis</li>
                                                    <li>Abstractive and extractive summarizations</li>
                                                    <li>Text paraphrasing</li>
                                                </ul>
                                            </div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!-- end column -->
				</div>
				<!-- end Row -->
            </div>
        </div>
        <!-- End Tab end -->
        <!-- Start Subscribe area -->
        <div class="achivement-area achivement-area-2 bg-color area-padding">
            <div class="container">
                <!-- Start counter Area -->
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-headline text-center">
							<h3>Why Choose Us?</h3>
						</div>
					</div>
				</div>
             
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="we-services row" >
                    	    <!-- single-well end-->
						    <div class="digital-services ">
						        <div class="digital-wel s1-item pb pb1" >
                                    <div class="digital-img">
                                        <span class="digital-icon" ><img src="/static/img/icon/customer.png" alt=""></span>
                                    </div>
									<div class="digital-content">
										<h4>Tailor-made solutions</h4>
									</div>
								</div>
							</div>
						    <!-- single-well end-->
							<div class="digital-services">
								<div class="digital-wel s2-item" >
                                    <div class="digital-img">
                                        <span class="digital-icon" ><img src="/static/img/icon/cost.png" alt=""></span>
                                    </div>
									<div class="digital-content" >
										<h4 style="text-transform: none;">Affordable, State-of-the-Art Technology</h4>
									</div>
								</div>
							</div>
							<!-- single-well end-->
							<div class="digital-services">
								<div class="digital-wel s4-item pb" >
                                    <div class="digital-img">
                                        <span class="digital-icon" ><img src="/static/img/icon/secure2.png" alt=""></span>
                                    </div>
									<div class="digital-content">
										<h4>Secure Solutions</h4>
									</div>
								</div>
							</div>
							<!-- single-well end-->
							<div class="digital-services">
								<div class="digital-wel s3-item pb" >
                                    <div class="digital-img">
                                        <span class="digital-icon" ><img src="/static/img/icon/lopard5.png" alt=""></span>
                                    </div>
									<div class="digital-content">
										<h4>Fast, small AI models</h4>
									</div>
								</div>
							</div>
							<!-- single-well end-->
							<div class="digital-services">
								<div class="digital-wel s5-item">
                                    <div class="digital-img">
                                        <span class="digital-icon" ><img src="/static/img/icon/continuous.png" alt=""></span>
                                    </div>
									<div class="digital-content">
										<h4>
                                            Continuous integration, monitoring
                                            </h4>
									</div>
								</div>
							</div>
							<!-- single-well end-->
                          
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe area -->
        <!-- Start project Area -->
        <div class="project-area project-area-2 area-padding" id="casestudies">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 ">
						<div class="section-headline text-center">
							<h3>Case Studies</h3>
						</div>
					</div>
				</div>
                <div class="">
                    <!-- project-carousel -->
                    <div class="row " style="justify-content: center; display: flex; flex-wrap: wrap;" > 
                        <!-- single-awesome-project start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a >
                                        <img src="/static/img/project/airlift5.webp" alt="" />
                                    </a>
                                    <div class="add-actions text-center">
                                        <a class="venobox" data-gall="myGallery" href="/static/img/project/airlift5.webp">
                                            <i class="port-icon ti-zoom-in"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="project-dec">
                                    <a href="{% url 'airlift' %}" target="_blank">
                                    <h4>Airlift - Extracting Structured Data from Unstructured Text</h4>
                                </a>
                                    <p>
                                        Hundreds of email requests for private aircrafts are sent out every day.
                                        Airlift wanted to connect people who had private aircrafts available along a specific route with people ...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 mt-6 mt-sm-0">
                            <!-- single-awesome-project start -->
                            <div class="single-awesome-project">
                                <div class="awesome-img" style="padding-bottom: 20px;">
                                    <a >
                                        <img src="/static/img/project/wildearth1.webp" alt="" />
                                    </a>
                                    <div class="add-actions text-center">
                                        <a class="venobox" data-gall="myGallery" href="/static/img/project/wildearth1.webp">
                                            <i class="port-icon ti-zoom-in"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="project-dec">
                                    <a href="{% url 'wildearth' %}" target="_blank">
                                    <h4>WildEarth - Animal Detection and Facial Recognition </h4>
                                </a>
                                    <p>
                                        <a href="https://wildearth.tv/">WildEarth</a> is a British-South African broadcasting and conservation company that 
                                connects people with wildlife. One of the ways in which they do this is by streaming ...
                                        </p>
                                </div>
                            </div>
                            <!-- single-awesome-project end -->
                        </div>
                      
                        
                    </div>		
                </div>	
            </div>
            <!-- End main content -->
        </div>
        <!-- End project Area -->

        <!-- Client Area -->
        <div class="project-area project-area-2  bg-color area-padding" id="clients">
            <div class="container">
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 ">
						<div class="section-headline text-center">
							<h3>Our Clients</h3>
						</div>
					</div>
				</div>
                <div class="">
                    <!-- project-carousel -->
                    <div class="row " style="justify-content: center; display: flex; flex-wrap: wrap;" > 
                        <!-- single-awesome-project start -->

                        <div class="col-md-6 col-sm-6 col-xs-12 mt-6 mt-sm-0">
                            <!-- single-awesome-project start -->
                            <div class="single-awesome-project">
                                <div class="text-center" style="padding-bottom: 40px;">
                                    <a href="https://wildearth.tv/"  target="_blank">
                                        <img src="/static/img/logo/welogo.png" alt="" width="250">
                                    </a>
                                </div>
                            </div>
                            <!-- single-awesome-project end -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="single-awesome-project">
                                <div class="text-center" style="padding-bottom: 40px;">
                                    <a href="https://www.southwinston.com/"   target="_blank">
                                        <img src="/static/img/logo/SWlogo.png" alt="" width="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="single-awesome-project">
                                <div class=" text-center pb-40 pb-sm-0">
                                    <a >
                                        <img src="/static/img/logo/airlift-small.png" alt="" width="170">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="single-awesome-project">
                                <div class="text-center">
                                    <a href="https://algorepublic.com/" style="text-align: center;" target="_blank">
                                        <img src="/static/img/logo/AR-logo.png" alt="" width="">
                                    </a>
                                </div>
                            </div>
                        </div>


                        
                    </div>		
                </div>	
            </div>
            <!-- End main content -->
        </div>
        <!-- END Client Area -->

        <!--Blog Area Start-->

        <!--End of Blog Area-->
        <!-- Start Footer bottom Area -->
       
		
		<!-- all js here -->

		<!-- jquery latest version -->
		<script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
		<!-- bootstrap js -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- owl.carousel js -->
		<script src="/static/js/owl.carousel.min.js"></script>
		<!-- venobox js -->
        <script src="/static/js/venobox.min.js"></script>
		<!-- magnific js -->
        <script src="/static/js/magnific.min.js"></script>
        <!-- wow js -->
        <script src="/static/js/wow.min.js"></script>
        <!-- meanmenu js -->
        <script src="/static/js/jquery.meanmenu.js"></script>
		<!-- Form validator js -->
		<script src="/static/js/form-validator.min.js"></script>
		<!-- plugins js -->
		<script src="/static/js/plugins.js"></script>
		<!-- main js -->
		<script src="/static/js/main.js"></script>

        <!-- Subscribe script -->
        <script>

            //update this with your js_form selector
            var sus_form_id_js = "subscription_form";
            var sus_sendButton = document.getElementById("sus_submit");
            //Gmail
            var sus_data_js = {
                "access_token": "hix9f5cwqbnv0dk79rnz0r1o" // sent after you sign up
            };
        
            function subscribe_success() {
                sus_sendButton.innerHTML="Subscribed"
                document.getElementById("sus_email").value=''
                document.getElementById("sus_email").innerHTML=''
            }
        
            function subscribe_error(error) {
                alert("Failed to subscribe")
            }

            function sus_send() {
                sus_sendButton.value='Sending…';
                sus_sendButton.disabled=true;
                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        subscribe_success();
                    } else
                    if(request.readyState == 4) {
                        subscribe_error(request.response);
                    }
                };

                var email = document.querySelector("#" + sus_form_id_js + " [name='sus_email']").value;
                if (email == ''){
                    alert('Plase enter email')
                }
                else{
                    sus_data_js['subject'] = 'Subscribed by: ' + email;
                    sus_data_js['text'] =  'From: '  + email;
                    var params = sus_toParams(sus_data_js);
            
                    request.open("POST", "https://postmail.invotes.com/send", true);
                    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            
                    request.send(params);
                    
                }
                return false;
            }
        
            sus_sendButton.onclick = sus_send;
        
            function sus_toParams(sus_data_js) {
                var form_data = [];
                for ( var key in sus_data_js ) {
                    form_data.push(encodeURIComponent(key) + "=" + encodeURIComponent(sus_data_js[key]));
                }
        
                return form_data.join("&");
            }
        
            var sus_form_id = document.getElementById(sus_form_id_js);
            sus_form_id.addEventListener("submit", function (e) {
                e.preventDefault();
            });
        </script>

{% endblock %}
